@import "./styles/mixins";


.switcher {
  display: flex;
  flex-direction: column;

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__graph {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    max-width: 600px;
    max-height: 600px;
    border: 1px solid #bbb;
    border-radius: 10px;
    overflow: hidden;
  }
}
