
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  overflow: hidden;
  z-index: 2;
}